# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Very Large Files or other files associated with program output (unnecessary)
loxodonta.cor.fq
Distinct.txt
Errorneous.txt
Result.txt
Trustworthy.txt
src/10M_r.txt
sequence.txt
src/linecount.txt
src/NotFound.txt
src/Found.txt
src/Erroneous.txt
src/Results/*
